
.wrapper {
    width: 800px;
    min-height: 700px;
    border-color: #e2e2e2;
    border-style: solid;
    border-width: 10px;
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
}

header {
    padding: 0;
    margin: 0;
    height: 140px;
}
.title {
    font-family: sans-serif;
    font-weight: bold;
    margin: 0px;
    padding: 42px 0px 0px 31px;
}
.version {
    font-family: sans-serif;
    color: #616161;
    padding: 0px 0px 0px 31px;

}
section {
    background-color: #ffffff;
    width: 392px;
    min-height: 450px;
    float: left;
    border-width: 4px;
    border-color: #f0f0f0;
    border-style: solid;
}

.create_task {
    font-family:Serif;
    font-size: 1.5em;
    margin-left: 30px;
    margin-top: 30px;
}
form {
    margin-left: 30px;
    margin-top: 30px;
    font-family: Sans-Serif;
    font-size: 14px;
}

.form-text {
    width: 320px;
    height: 40px;
    border-radius: 5px;
    border-color: #dedede;
    border-style: solid;
    border-width: 1px;
    background: #f0f0f0;
    margin-bottom: 30px;
    margin-top: 8px;
}
.submit {
    width: 93px;
    height: 46px;
    background-color: #434343;
    border-radius: 5px;
    border-width: 1px;
    border-color: #434343;
    border-style: solid;
    color: #ffffff;
    font-family: Serif;
    font-size: 18px;
}
.task-wrapper {
    width: 350px;
    height: auto;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: #f0f0f0;
    margin: 35px 18px 0px 18px;
}

.etask_item {
    height: 30px;
    width: 340px;
    overflow: hidden;
    padding: 6px 5px;
}
.etask_item:nth-of-type(even) {
    background-color: #f0f0f0;
}
.etask_name {
    font-family: Serif;
    font-size: 14px;
    padding-left: 10px;
    float: left;
    padding: 8px;
    margin-top: auto;
    margin-bottom: auto;
}
.etask_date {
    font-family: Sans-Serif;
    color: #c5c5c5;
    font-size: 12px;
    margin: 18px 0px;
    padding-left: 5px;
    float: left;
    padding: 8px;
    margin-top: auto;
    margin-bottom: auto;
}
.etask_assigned {
    font-family: Sans-Serif;
    font-size: 14px;
    padding-right: 10px;
    float: right;
    padding: 8px;
    margin-top: auto;
    margin-bottom: auto;
}

.existing_task {
    font-family: Serif;
    font-size: 1.5em;
    margin-left: 30px;
    margin-top: 30px;
}

@media screen and (max-width:800px){
    .wrapper{
        width:90%;
        height:140%;
    }
    section{
        width: 96%;
    }
    .form-text {
    width: 100%;
    height: 40px;
    }
    form{
        margin-right:10px;
    }
    .task-wrapper {
    width: 90%;
    height: auto;
    
    }
    .etask_item{
        width:98%
    }
}